
@{
    ViewBag.Title = "About_Us";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<!-- other-top-pages-start -->
<div class="other-pages-top-area bg-with-black">
    <div class="container">
        <div class="row">
            <div class="col-col-xs-12">
                <div class="other-pages">
                    <div class="clearfix">
                        <h2 class="op-title">ABOUT US</h2>
                        <p class="op-text">We opened. Delicious food & drinks.</p>
                        <ul class="op-list">
                            <li><a href="index.html">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- other-top-pages-end -->
<!-- about-banner-area-start -->
<div class="about-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="about-banner-head">
                    <h2 class="abh-title st-ds">We cooparate only with</h2>
                    <p class="abh-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
        <div class="about-banner-1">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="about-banner-content">
                        <h2 class="abc-title">20 Years of Recognition</h2>
                        <span class="abc-intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
                        <p class="abc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="abc-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="about-banner-img">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="abi-small">
                                    <img src="~/Content/Images/Userpanel/7.jpg" alt="">
                                    <img src="~/Content/Images/Userpanel/8.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="abi-large">
                                    <img src="~/Content/Images/Userpanel/9.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-banner-2">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="about-banner-img">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="abi-small">
                                    <img src="~/Content/Images/Userpanel/10.jpg" alt="">
                                    <img src="~/Content/Images/Userpanel/11.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="abi-large">
                                    <img src="~/Content/Images/Userpanel/1.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="about-banner-content">
                        <h2 class="abc-title">20 Years of Recognition</h2>
                        <span class="abc-intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
                        <p class="abc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="abc-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-banner-area-end -->
<!-- testimonial-area-start -->
<div class="about-testimonial testimonial-area bg-with-black" style="background-image:url(/Content/Images/food.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="testimonial">
                    <div class="testimonial-carousel owl-carousel">
                        <div class="single-testimonial">
                            <p class="testimonial-text">“ We enjoy sharing the projects and posts we make just as much as we enjoy creating them. consectetur adipiscing elit, sed do eiusmod tempor incididunt Sit back & take a moment to browse through some of our recent completed work.”</p>
                            <h3 class="testimonial-author st-ds">- Stevan Smith,</h3>
                        </div>
                        <div class="single-testimonial">
                            <p class="testimonial-text">“ We enjoy sharing the projects and posts we make just as much as we enjoy creating them. consectetur adipiscing elit, sed do eiusmod tempor incididunt Sit back & take a moment to browse through some of our recent completed work.”</p>
                            <h3 class="testimonial-author st-ds">- Stevan Smith,</h3>
                        </div>
                        <div class="single-testimonial">
                            <p class="testimonial-text">“ We enjoy sharing the projects and posts we make just as much as we enjoy creating them. consectetur adipiscing elit, sed do eiusmod tempor incididunt Sit back & take a moment to browse through some of our recent completed work.”</p>
                            <h3 class="testimonial-author st-ds">- Stevan Smith,</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-area-end -->
<!-- home4-get-touch-area-start -->
<div class="home4-get-touch-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="home4-get-head">
                    <h2 class="h4-gh-title st-ds">Get In Touch</h2>
                    <h4 class="h4-gh-title2">Our Branch Locations</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-h4-get-touch">
                    <div class="h4gt-img">
                        <img src="~/Content/Images/Userpanel/Restaurant-Table.jpg" alt="">
                    </div>
                    <div class="h4gt-content">
                        <ul class="h4gt-list">
                            <li class="address">A: 44 First Floor New Design Street, Melbourne 005</li>
                            <li class="phone">P: + (01) 800 433 633 (or) + (01) 800 433 589</li>
                            <li class="email">E: Arctica@Example.com (or) info@arctica.com</li>
                        </ul>
                        <a class="h4gt-get" href="#">Get Direction</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-h4-get-touch">
                    <div class="h4gt-img">
                        <img src="~/Content/Images/Userpanel/Restaurant-Table.jpg" alt="">
                    </div>
                    <div class="h4gt-content">
                        <ul class="h4gt-list">
                            <li class="address">A: 44 First Floor New Design Street, Melbourne 005</li>
                            <li class="phone">P: + (01) 800 433 633 (or) + (01) 800 433 589</li>
                            <li class="email">E: Arctica@Example.com (or) info@arctica.com</li>
                        </ul>
                        <a class="h4gt-get" href="#">Get Direction</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-h4-get-touch">
                    <div class="h4gt-img">
                        <img src="~/Content/Images/Userpanel/Restaurant-Table.jpg"  alt="">
                    </div>
                    <div class="h4gt-content">
                        <ul class="h4gt-list">
                            <li class="address">A: 44 First Floor New Design Street, Melbourne 005</li>
                            <li class="phone">P: + (01) 800 433 633 (or) + (01) 800 433 589</li>
                            <li class="email">E: Arctica@Example.com (or) info@arctica.com</li>
                        </ul>
                        <a class="h4gt-get" href="#">Get Direction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home4-get-touch-area-end -->
<!-- book-table-area-start -->
<div class="about-book-area book-area" style="background-image:url(/Content/Images/food.jpg);">
    <div class="about-book-banner"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="book-area-head">
                    <h2 class="st-ds">Relaxing Atmosphere</h2>
                    <h3>Book your table</h3>
                </div>
                <div class="book-form-area">
                    <form action="#">
                        <div class="book-form-row">
                            <div class="clearfix">
                                <div class="book-input-name">
                                    <input type="text" placeholder="Your Name *">
                                </div>
                                <div class="book-input-email">
                                    <input type="email" placeholder="Your Email *">
                                </div>
                                <div class="book-input-number">
                                    <input type="text" placeholder="Mobile Number *">
                                </div>
                            </div>
                        </div>
                        <div class="book-form-row">
                            <div class="clearfix">
                                <div class="book-input-date">
                                    <input id="datepicker" type="text" placeholder="Date *">
                                </div>
                                <div class="book-input-time">
                                    <input id="scrollDefaultExample" type="text" placeholder="Time *">
                                </div>
                                <div class="book-input-persons">
                                    <input type="text" placeholder="No. of Persons *">
                                </div>
                            </div>
                        </div>
                        <div class="book-input-book">
                            <input class="hvr-bs" type="submit" value="Book Now">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- book-table-area-end -->
