<head>
    <title></title>
    <script type="text/javascript" src="../../Content/ProjectFiles/AdminView/Events/ViewEvents.js"></script>
</head>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height:900px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Event
            <small id="NumberOfEvents"></small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Events</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">List</h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback" id="searchbar1">
                                <section id="ajax-example1">
                                    <form action="#/" onsubmit="return GetSingleEventByName()">
                                        <input type="text" class="form-control input-sm" placeholder="Search for Event" required name="EventSearch" id="EventSearch">
                                    </form>
                                    <script>
                                        var ajax = new XMLHttpRequest();
                                        ajax.open("GET", "http://localhost:57732/api/events/GetAllClassesNames", true);
                                        ajax.onload = function () {
                                            var list = JSON.parse(ajax.responseText).map(function (i) { return i.Name; });
                                            new Awesomplete(document.querySelector("#ajax-example1 input"), { list: list });
                                        };
                                        ajax.send();
                                    </script>
                                </section>

                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>

                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <a href="#/" class="btn btn-default btn-sm" onclick="EventCheakingCheckboxes()" data-toggle="tooltip" title="Select All">
                                <input type="checkbox" id="select_all" />
                            </a>
                            <div class="btn-group">
                                <button type="button" onclick="EventDeleteFunction()" class="btn btn-default btn-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></button>
                                <a href="#/" onclick="myFunctionSwapView('first_Home_Page');" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                            <!-- /.btn-group -->
                            <!--forward and previous-->
                            <div class="pull-right" id="DesiMasalaDiv1">
                                <p id="DesiMasalaEvent1"></p>
                                <div class="btn-group">
                                    <button type="button" onclick="EventDetailsOpenFunction(this.value)" id="PrevButtonOfEvent1" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" onclick="EventDetailsOpenFunction(this.value)" id="NextButtonOfEvent1" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>

                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!--/forward and previous-->

                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Place</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>TicketPrice</th>
                                        <th>Discount</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="EventDetailsDataBody"></tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <a href="#/" class="btn btn-default btn-sm" onclick="EventCheakingCheckboxes2()" data-toggle="tooltip" title="Select All">
                                <input type="checkbox" id="select_all2" />
                            </a>
                            <div class="btn-group">
                                <button type="button" onclick="EventDeleteFunction()" class="btn btn-default btn-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></button>
                                <a href="#/" onclick="myFunctionSwapView('first_Home_Page');" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>
                            </div>
                            <!-- /.btn-group -->
                            <!--forward and previous-->
                            <div class="pull-right" id="DesiMasalaDiv2">
                                <p id="DesiMasalaEvent2"></p>
                                <div class="btn-group">
                                    <button type="button" onclick="EventDetialsOpenFunction(this.value)" id="PrevButtonOfEvent2" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" onclick="EventDetialsOpenFunction(this.value)" id="NextButtonOfEvent2" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>

                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!--/forward and previous-->
                            <!-- /.pull-right -->
                        </div>
                    </div>
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


